# Import libraries

In [1]:
import requests
import json
import pandas as pd

### URL Indicator Info JSON and pages 
(There are 330 pages in total)

In [2]:
url_grl ="http://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json&page="

### Accessing all pages

*pages* is a range from 1 to 330
<br>
*urls* is a list, it contains *url_grl* + *page* in *pages*
<br>
*all_pages_data* is a list, it contains a list with info from JSON API

In [3]:
pages = range(1,331)
urls = []
all_pages_data = []

In [4]:
for page in pages:
    urls.append(url_grl+str(page))

In [5]:
for url in urls:
    all_pages_data.append(requests.get(url).json())

Cada dict con info contiene: 
<br>

<p style="text-align: center;">
    indicador -> [dict con id y value] indicator id Total population
    <br>
    country -> [dict con id y value] Country id, country name
    <br>
    countryiso3code -> [str] code
    <br>
    date -> [str] year
    <br>
    value -> [int] total population
    <br>
</p>

In [154]:
list_countries = []

In [ ]:
[new_list.append(item) for item in students if item not in new_list]

In [155]:
for i in range(0,329):
    for j in range (0,50):
        if all_pages_data[i][1][j]['country']['value'] not in list_countries:
            list_countries.append(all_pages_data[i][1][j]['country']['value'])

In [156]:
series_countries = pd.Series(list_countries)

In [157]:
series_countries

0         Africa Eastern and Southern
1          Africa Western and Central
2                          Arab World
3              Caribbean small states
4      Central Europe and the Baltics
                    ...
261             Virgin Islands (U.S.)
262                West Bank and Gaza
263                       Yemen, Rep.
264                            Zambia
265                          Zimbabwe
Length: 266, dtype: object

In [159]:
list_years = []

In [161]:
for i in range(0,329):
    for j in range (0,50):
        if all_pages_data[i][1][j]['date'] not in list_years:
            list_years.append(all_pages_data[i][1][j]['date'])

In [209]:
series_year = pd.Series(list_years)

In [217]:
series_year[1]

'2020'

In [322]:
list_dicts_per_year = []
for year in series_year:
    list_dicts_per_year.append({})

In [323]:
for i_year in range(len(series_year)):
    for i_pages in range(329):
        for i_page in range(50):
            if all_pages_data[i_pages][1][i_page]['date']==year:
                list_dicts_per_year[i_year].update({
                    all_pages_data[i_pages][1][i_page]['country']['value'] : all_pages_data[i_pages][1][i_page]['value']
                })

In [331]:
pd.DataFrame(pd.Series(list_dicts_per_year[0]))

                                          0
Africa Eastern and Southern     130692579.0
Africa Western and Central       97256290.0
Arab World                       93359407.0
Caribbean small states            4209141.0
Central Europe and the Baltics   91401764.0
...                                     ...
Vietnam                          32718461.0
Virgin Islands (U.S.)               32500.0
West Bank and Gaza                      NaN
Yemen, Rep.                       5542459.0
Zambia                            3119430.0

[265 rows x 1 columns]

In [194]:
year1997 = {'africa':10,
            'mexico': 30,
            'zimbawe': 50
           }

In [221]:
pd.Series(year1997)

africa     10
mexico     30
zimbawe    50
dtype: int64

In [195]:
pd.Series(year1997)

africa     10
mexico     30
zimbawe    50
dtype: int64

In [196]:
year2021 = {'africa':100,
            'mexico': 300,
            'zimbawe': 500
           }

In [197]:
pd.Series(year2021)

africa     100
mexico     300
zimbawe    500
dtype: int64

In [205]:
pd.DataFrame({'1997': pd.Series(year1997), '2021':pd.Series(year2021)})

         1997  2021
africa     10   100
mexico     30   300
zimbawe    50   500

Para cada una de las paginas data_per_page (estas son listas, que contienen 1 diccionario con la info de cada pag y 1 lista con de los indicadores)
<br>
Hay que acceder a data_per_page \[ 1: \], esa es la info que estarÃ¡ en